.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 30px;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 12px;
}

.imageAndText img {
  height: 48px;
  width: 48px;
}

.text {
  position: relative;
  background-color: #0066CC;
  border-radius: 10px 10px 0 10px;
  padding: 12px 16px;
  width: fit-content;
  color: white;
  filter: drop-shadow(0 1px 2px rgba(29, 33, 38, 0.1)) drop-shadow(0 5px 20px rgba(29, 33, 38, 0.03));
  text-align: right;
}

.text::after {
  content: '';
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #0066CC;
  border-right: 0;
  border-bottom: 0;
}

.name {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 3px;
}

.messageText {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.time {
  font-weight: 600;
  font-size: 10px;
  color: #000;
  padding-right: 11px;
}