.buttonsContainer {
  display: flex;
  gap: 1rem;
}

.responseContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem;
}

.imageContainer {
}

.image {
}

.textContainer {
  align-self: center;
}

.code {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.text {
}

.info {
}