.radio {
  cursor: pointer;
  accent-color: black;
  transform: scale(1.5);
  margin: 5px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
