.App {
  --header_height: 60px;
  font-family: 'Montserrat', sans-serif;
  padding: 130px 70px;

}

.hw {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.hw:after {
  content: "";
  position: absolute;
  border: 1px solid #d9d9d9;
  width: 100vw;
  height: 0px;
  left: 50%;
  top: -24px;
  transform: translateX(-50%);
}

.hw:before {
  content: "";
  position: absolute;
  border: 1px solid #d9d9d9;
  width: 100vw;
  height: 0px;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
}

.hwTitle {
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-bottom: 34px;
}