.friendMessage {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 56px;
}

.friendImageAndText {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.friendImageAndText img {
  height: 48px;
  width: 48px;
}

.friendText {
  position: relative;
  background-color: #f5f7fb;
  box-shadowfilter: drop-shadow(0 1px 2px rgba(29, 33, 38, 0.1)) drop-shadow(0 5px 20px rgba(29, 33, 38, 0.03));
  border-radius: 10px 10px 10px 0;
  padding: 12px 16px;
  width: fit-content;
}

.friendText:after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #f5f7fb; /* Правая сторона окрашена */
  border-left: 0;
  border-bottom: 0;
}

.friendName {
  font-weight: 600;
  font-size: 16px;
  color: #000;
  margin-bottom: 3px;
}

.friendMessageText {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.friendTime {
  font-weight: 600;
  font-size: 10px;
  color: #000;
  padding-left: 11px;
}
