.greetingForm {
  margin-bottom: 200px;
}

.inputAndButtonContainer {
  display: flex;
  gap: 12px;
}

.error {
  font-weight: 400;
  font-size: 14px;
  color: #c00;
}

.input {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 372px;
  height: 36px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  padding: 8px 12px;
}

.input:focus {

}

.errorInput {
  border: 1px solid red;
}

.button {
  border-radius: 3px;
  padding: 5px 24px;
  width: 78px;
  height: 36px;
  background: #06c;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  border: #06c;
}

.button:focus {
  color: #06c;
  background-color: #b2cefd;
  border-color: #06c;
}

.button:active {
  color: #06c;
  background-color: #b2cefd;
  border-color: #06c;
}

.button:disabled {
  background: #06c;
  opacity: 0.5;
}

.text {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.greeting {
  font-weight: 500;
  font-size: 14px;
  color: #000;
}
