.sendForm {
  display: flex;
  gap: 44px;
}

.textarea {
  border-radius: 20px;
  width: 100%;
  min-height: 40px;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
  background: #f5f7fb;
  resize: none;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  padding: 10px 24px;
}

.button {
  border-radius: 20px;
  width: 120px;
  background-color: #06c;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  height: 40px;
}

.button:hover {

}

.button:active {

}
