
.burgerMenuIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;

}
.header {
  box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
  background: #fff;
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 100;
}

.header h1 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}